.profile__position {
  margin-top: 9px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-widthg: 767px){
  .profile__position {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  } 
}